# PyCitySchools Challenge

In [519]:
import pandas as pd
from pathlib import Path

schools_csv = "../Resources/schools_complete.csv"
students_csv = "../Resources/students_complete.csv"

schools_df = pd.read_csv(schools_csv)
students_df = pd.read_csv(students_csv)

district_df = pd.merge(students_df, schools_df, on="school_name", how="left")
district_df

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

# District Summary

In [520]:
unique_schools = len(district_df["school_name"].unique())
unique_schools

15

In [521]:
student_count = len(district_df["student_name"])
student_count

39170

In [522]:
total_budget = schools_df["budget"].sum()
total_budget

24649428

In [523]:
avg_math_score = district_df["math_score"].mean()
avg_math_score

78.98537145774827

In [524]:
avg_reading_score = district_df["reading_score"].mean()
avg_reading_score

81.87784018381414

In [525]:
count_passed_math = district_df[(district_df["math_score"] >= 70)].count()["student_name"]
percent_passed_math = count_passed_math / student_count * 100
percent_passed_math

74.9808526933878

In [526]:
count_passed_reading = district_df[(district_df["reading_score"] >= 70)].count()["student_name"]
percent_passed_reading = count_passed_reading / student_count * 100
percent_passed_reading

85.80546336482001

In [527]:
count_passed_all = district_df[(district_df["math_score"] >= 70) & (district_df["reading_score"] >= 70)].count()["student_name"]
overall_passed_percent = count_passed_all / student_count * 100
overall_passed_percent

65.17232575950983

In [528]:
district_summary = [{"Total Schools": unique_schools, "Total Students": student_count, "Total Budget": total_budget, 
                    "Average Math Score": avg_math_score, "Average Reading Score": avg_reading_score, "% Passing Math": percent_passed_math,
                    "% Passing Reading": percent_passed_reading, "% Overall Passing": overall_passed_percent}]
district_summary_df = pd.DataFrame(district_summary)

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.2f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.2f}%".format)
district_summary_df["% Overall Passing"] = district_summary_df["% Overall Passing"].map("{:.2f}%".format)
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",78.99,81.88,74.98%,85.81%,65.17%

# School Summary

In [529]:
schools_grouped_df = district_df.groupby(["school_name"])
schools_grouped_df.count()

,Student ID,student_name,gender,grade,reading_score,math_score,School ID,type,size,budget
school_name,,,,,,,,,,
Bailey High School,4976,4976,4976,4976,4976,4976,4976,4976,4976,4976
Cabrera High School,1858,1858,1858,1858,1858,1858,1858,1858,1858,1858
Figueroa High School,2949,2949,2949,2949,2949,2949,2949,2949,2949,2949
Ford High School,2739,2739,2739,2739,2739,2739,2739,2739,2739,2739
Griffin High School,1468,1468,1468,1468,1468,1468,1468,1468,1468,1468
Hernandez High School,4635,4635,4635,4635,4635,4635,4635,4635,4635,4635
Holden High School,427,427,427,427,427,427,427,427,427,427
Huang High School,2917,2917,2917,2917,2917,2917,2917,2917,2917,2917
Johnson High School,4761,4761,4761,4761,4761,4761,4761,4761,4761,4761
Pena High School,962,962,962,962,962,962,962,962,962,962
Rodriguez High School,3999,3999,3999,3999,3999,3999,3999,3999,3999,3999
Shelton High School,1761,1761,1761,1761,1761,1761,1761,1761,1761,1761
Thomas High School,1635,1635,1635,1635,1635,1635,1635,1635,1635,1635
Wilson High School,2283,2283,2283,2283,2283,2283,2283,2283,2283,2283
Wright High School,1800,1800,1800,1800,1800,1800,1800,1800,1800,1800

In [530]:
school_types = schools_grouped_df["type"].unique()
school_types

school_name
Bailey High School       [District]
Cabrera High School       [Charter]
Figueroa High School     [District]
Ford High School         [District]
Griffin High School       [Charter]
Hernandez High School    [District]
Holden High School        [Charter]
Huang High School        [District]
Johnson High School      [District]
Pena High School          [Charter]
Rodriguez High School    [District]
Shelton High School       [Charter]
Thomas High School        [Charter]
Wilson High School        [Charter]
Wright High School        [Charter]
Name: type, dtype: object

In [531]:
per_school_counts = schools_grouped_df["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [532]:
per_school_budget = schools_grouped_df["budget"].sum() / per_school_counts
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
dtype: float64

In [533]:
per_school_capita = per_school_budget / per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [534]:
per_school_math = schools_grouped_df["math_score"].sum() / per_school_counts
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
dtype: float64

In [535]:
per_school_reading = schools_grouped_df["reading_score"].sum() / per_school_counts
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
dtype: float64

In [536]:
students_passing_math = district_df[(district_df["math_score"] >= 70)]
students_passing_math = students_passing_math.groupby(["school_name"]).size()
students_passing_math_percent = students_passing_math / per_school_counts
students_passing_math_percent

#count_passed_math = district_df[(district_df["math_score"] >= 70)].count()["student_name"]
#percent_passed_math = count_passed_math / student_count * 100
#percent_passed_math

#school_passed_math_count = schools_grouped_df[(schools_grouped_df["math_score"] >= 70)].count()["student_name"]
#school_passed_math_count

school_name
Bailey High School       0.666801
Cabrera High School      0.941335
Figueroa High School     0.659885
Ford High School         0.683096
Griffin High School      0.933924
Hernandez High School    0.667530
Holden High School       0.925059
Huang High School        0.656839
Johnson High School      0.660576
Pena High School         0.945946
Rodriguez High School    0.663666
Shelton High School      0.938671
Thomas High School       0.932722
Wilson High School       0.938677
Wright High School       0.933333
dtype: float64

In [537]:
students_passing_reading = district_df[(district_df["reading_score"] >= 70)]
students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
students_passing_reading_percent = students_passing_reading / per_school_counts
students_passing_reading_percent

school_name
Bailey High School       0.819333
Cabrera High School      0.970398
Figueroa High School     0.807392
Ford High School         0.792990
Griffin High School      0.971390
Hernandez High School    0.808630
Holden High School       0.962529
Huang High School        0.813164
Johnson High School      0.812224
Pena High School         0.959459
Rodriguez High School    0.802201
Shelton High School      0.958546
Thomas High School       0.973089
Wilson High School       0.965396
Wright High School       0.966111
dtype: float64

In [538]:
students_passing_both = district_df[(district_df["math_score"] >= 70) & (district_df["reading_score"] >= 70)]
students_passing_both = students_passing_both.groupby(["school_name"]).size()
students_passing_both_percent = students_passing_both / per_school_counts
students_passing_both_percent

school_name
Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
dtype: float64

In [539]:
school_data_complete = pd.DataFrame({"School Type": school_types, "Total Students": per_school_counts, 
                        "Total School Budget": per_school_budget, "Per Student Budget": per_school_capita,
                        "Average Math Score": per_school_math, "Average Reading Score": per_school_reading})
school_data_complete

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score
school_name,,,,,,
Bailey High School,[District],4976,3124928.0,628.0,77.048432,81.033963
Cabrera High School,[Charter],1858,1081356.0,582.0,83.061895,83.975780
Figueroa High School,[District],2949,1884411.0,639.0,76.711767,81.158020
Ford High School,[District],2739,1763916.0,644.0,77.102592,80.746258
Griffin High School,[Charter],1468,917500.0,625.0,83.351499,83.816757
Hernandez High School,[District],4635,3022020.0,652.0,77.289752,80.934412
Holden High School,[Charter],427,248087.0,581.0,83.803279,83.814988
Huang High School,[District],2917,1910635.0,655.0,76.629414,81.182722
Johnson High School,[District],4761,3094650.0,650.0,77.072464,80.966394
Pena High School,[Charter],962,585858.0,609.0,83.839917,84.044699
Rodriguez High School,[District],3999,2547363.0,637.0,76.842711,80.744686
Shelton High School,[Charter],1761,1056600.0,600.0,83.359455,83.725724
Thomas High School,[Charter],1635,1043130.0,638.0,83.418349,83.848930
Wilson High School,[Charter],2283,1319574.0,578.0,83.274201,83.989488
Wright High School,[Charter],1800,1049400.0,583.0,83.682222,83.955000